html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'roboto-light';
    margin: 0;
}

// We are pulling out the <symbol> elements to use throughout the site however
// we do not want the master sprite to be visible.
.iconSprite {
    display: none;
}
