.contact {

	&__list {
		list-style: none;
		margin: vertical(large) 0;
		padding: 0;
	}

	&__item {
		display: inline-block;
		max-width: 20em;
		width: 50%;
	}

	&__link {

	}

	&__icon {
		$size: 1.8em;
		height: $size;
		width: $size;
	}

	&__heading {

	}
}
