.functionality {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: vertical(large);

    &__scrollToTop {
        padding: 0;
        position: relative;

        &:hover &__icon {
            fill: white;
        }

        &__icon {
            $size: 3em;
            fill: color(blue, dark);
            height: 3em;
            transition: fill speed(fast);
            width: 3em;
        }
    }
}
