.post {

    &__heading {

    }

    &__details {
        display: flex;
        justify-content: space-between;

        + .structure--divider {
            margin-top: vertical(tiny);
        }
    }

    &__hashtag {
        color: color(blue, dark);
    }

    &__date {
        color: color(gray, light);
    }

    &__images {
        background: gray;
        // display: flex;
        margin: vertical(large) 0;
        // max-width: 1200px;
        // width: 100vw;

        @include media('>=large') {
            left: 50%;
            // margin: {
            //     left: -#{vertical(small)};
            //     right: -#{vertical(small)};
            // }
            // // -5em = 2em (color border) + 2em (content padding) + 1em (scroll bar)
            max-width: calc(100vw - 5em);
            position: relative;
            transform: translateX(-50%);
            width: 116%;
        }

        &--3upSquares {

            display: flex;
            justify-content: space-between;

            img {
                height: auto;
                // padding: 0 vertical(small) / 2;
                width: calc(33.33% - #{vertical(small)});

                // &:nth-of-type(2n+1) {
                //     padding-left: vertical(small);
                // }

                // &:first-of-type {
                //     width: 33.33%;
                // }
                //
                // &:nth-of-type(2) {
                //     width: 66.66%;
                // }
                //
                // &:last-of-type {
                //     width: 100%;
                // }
            }

        }
    }
}
