.snippets .structure--divider:first-of-type {
    display: none;
}

.snippet {
    position: relative;

    &__link {
        text-decoration: none;

        &:hover,
        &:focus {

            .snippet__heading {
                color: color(blue);
            }

            & ~ .snippet__hashtag {
                color: color(blue, dark);
            }
        }
    }

    // &__heading,
    // &__hashtag,
    // &__date {
    //     transition: color speed(fast);
    // }

    &__heading {
        color: color(blue, dark);
        margin: 0 0 -0.25rem;

        @include media('>=small') {
            padding-right: calc(#{vertical(medium)} + 4.5rem);
        }
    }

    &__hashtag {
        display: block;
    }

    &__date {
        color: color(gray, light);

        @include media('>=small') {
            position: absolute;
            right: 0;
            top: 0;

            .snippet:nth-of-type(1n+2) & {
                top: vertical(medium);
            }
        }
    }
}
