.structure {

	&--background {
		background: white;
		padding: 0 1rem 1rem;

        @include media('>=small') {
            min-height: calc(100vh - 2rem);
            padding: 1rem;
        }
	}

	&--column {
		margin: auto;
		max-width: 58rem;
        min-height: calc(100vh - 2rem);
        position: relative;

        @include media('>=small') {
            min-height: calc(100vh - 4rem);
            padding-bottom: calc(#{vertical(large)} + 1rem);
        }
	}
}
