.tech {

	&__heading {
		color: color(blue, dark);
		margin: vertical(large) 0 vertical(small);
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		line-height: 3;

		@include media('>=small') {
			display: inline-block;
			max-width: 20rem;
			width: 50%;
		}
	}
}
