body {
    line-height: 1.5;

    @include media('>=small') {
        font-size: 1rem;
        padding: 1rem;
    }

    @include media('>=medium') {
        font-size: 1.125rem;
    }

    @include media('>=large') {
        font-size: 1.25rem;
    }
}

.type {

    &--smallCap {
        font: {
            family: 'roboto-bold';
            size: 0.75rem;
        }
        text-transform: uppercase;
    }
}


h1 {
    color: color(blue, dark);
    font: {
        family: 'signika-bold';
        size: 1.7rem;
    }
    margin: vertical(large) 0 vertical(medium);
    max-width: 40rem;
}

h2 {
    font: {
        family: 'signika-bold';
        size: 1.15rem;
    }
}
