$palette: (
    pink: #E91E63,
    purple: #673AB7,
    blue: #03A9F4,
    green: #009688,
    yellow: #FFEB3B,
    orange: #FF5722,
    brown: #795548,
    gray: #9E9E9E
);

@function palette($color) {
    @return map-get($palette, $color);
}

$media: (
    small: 30rem,
    medium: 48rem,
    large: 64rem
);

@function media($size) {
    @return map-get($media, $size);
}

$vertical: (
    small: 1vh,
    medium: 4vh,
    large: 8vh
);

@function vertical($size) {
    @return map-get($vertical, $size);
}

$speed: (
    slow: 1s,
    medium: 0.5s,
    fast: 0.25s
);

@function speed($type) {
    @return map-get($speed, $type);
}

$color: (
    blue: (
        light: #c5e5fc,
        medium: #3ea8f4,
        dark: #19415a
    ),
    gray: (
        light: #cccccc,
        medium: #989898,
        dark: #4c4c4c
    )
);

@function color($type, $tint: medium) {
    $type: map-get($color, $type);
    @return map-get($type, $tint);
}
