-
    snippets = [
        
    {
        href: 'heart-rate-monitor',
        template: 'post',
            heading: 'Heart rate monitor',
            type: 'Experiment',
            date: generateDate({
                year: 2016,
                month: 1,
                day: 13
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'heart-rate-monitor-left', extension: 'jpg', alt: 'Left hand facing watch with a randomised heart rate that directly effects the aesthetic of the graph'},
                    {src: 'heart-rate-monitor-right', extension: 'jpg', alt: 'Right racing watch displaying a green aesthetic during its looping sequence through the 360 degree hue spectrum'}
                ]
            },
            technology: [
                'Webpack',
                'ES6 (Transpired using Babel)',
                'Canvas',
                'HSL'
            ],
            more: [
                { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/full/bERMeZ/', local: false},
                { heading: 'Git Hub', link: 'https://github.com/devonChurch/pork-dumpling', local: false}
            ]
    },

    {
        href: 'reversi-board-game',
        template: 'post',
            heading: 'Reversi board game',
            type: 'Experiment',
            date: generateDate({
                year: 2015,
                month: 12,
                day: 20
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'reversi-board-game-start', extension: 'png', alt: 'The initial board layout for a game of Reversi. Starting player is randomly picked each game. The dark gray tiles illustrates possible moves the the player can make this turn'},
                    {src: 'reversi-board-game-end', extension: 'png', alt: 'The end sequence of a game that decides the winner based on total board coverage'},
                    {src: 'reversi-board-game-reset', extension: 'png', alt: 'The reset sequence of a game where the tiles are all flipped over to generate a fresh board layout'}
                ]
            },
            technology: [
                'Webpack',
                'ES6 (Transpired using Babel)',
                'SVG',
                'SASS'
            ],
            more: [
                { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/full/XXNqWE/', local: false},
                { heading: 'Git Hub', link: 'https://github.com/devonChurch/salmon-nigiri', local: false}
            ]
    },

    {
        href: 'xerocon-particle-animation',
        template: 'post',
            heading: 'Xerocon particle animation',
            type: 'Experiment',
            date: generateDate({
                year: 2015,
                month: 12,
                day: 11
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'xerocon-particle-animation-start', extension: 'jpg', alt: 'Initial particle locations positioned using an exponential displacement algorithm'},
                    {src: 'xerocon-particle-animation-end', extension: 'jpg', alt: 'Constrained particles revealing the Xerocon pin icon'}
                ]
            },
            technology: [
                'Webpack',
                'ES6 (Transpired using Babel)',
                'Canvas',
                'SASS'
            ],
            more: [
                { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/full/zrBBZa/', local: false},
                { heading: 'Git Hub', link: 'https://github.com/devonChurch/blueberry-danish', local: false}
            ]
    },

    {
        href: 'xero-year-in-review',
        template: 'post',
            heading: 'Xero year in review',
            type: 'Production',
            date: generateDate({
                year: 2015,
                month: 5,
                day: 20
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'xero-year-in-review-small', extension: 'jpg', alt: 'Mobile rendition of the tabular data turned into a single column view rather than the multicolumn setup present in the desktop'},
                    {src: 'xero-year-in-review-medium', extension: 'jpg', alt: 'An example of sections that have animated numeric incrementors activated on scroll. As the number increases so does the opacity of the black overlay which brings focus onto the copy'},
                    {src: 'xero-year-in-review-large', extension: 'jpg', alt: 'Desktop view of the full width fluid layout'}
                ]
            },
            technology: [
                'Javascript',
                'SASS',
                'Responsive Design',
                'Vimeo'
            ],
            more: [
                { heading: 'Preview', link: 'https://www.xero.com/year-in-review/', local: false}
            ]
    },

    {
        href: 'xerocon-event-portal',
        template: 'post',
            heading: 'Xerocon event portal',
            type: 'Production',
            date: generateDate({
                year: 2015,
                month: 4,
                day: 28
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'xerocon-event-portal-small', extension: 'jpg', alt: 'Windows Phone app pulling in content with a custom app layout'},
                    {src: 'xerocon-event-portal-medium', extension: 'jpg', alt: 'Xerocon event home page viewed on an iPad'},
                    {src: 'xerocon-event-portal-large', extension: 'jpg', alt: 'Dynamic schedule presented in its larger layout format'}
                ]
            },
            technology: [
                'Javascript',
                'SASS',
                'SVG',
                'Responsive design'
            ]
    },

    {
        href: 'real-estate-widget',
        template: 'post',
            heading: 'Real Estate widget',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 11,
                day: 14
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'real-estate-widget-large', extension: 'jpg', alt: 'Real estate widget residing within the desktop environment of stuff.co.nz'},
                    {src: 'real-estate-widget-small', extension: 'jpg', alt: 'Real estate widget as part of a mobile interstitial advertising unit on the stuff.co.nz iPhone app'}
                ]
            },
            technology: [
                'Grunt',
                'PHP / CURL requests',
                'CRON job',
                'Javascript',
                'Greensock',
                'Handlebars',
                'SASS',
                'SVG'
            ]
    },

    {
        href: 'jaguar-expandable-advert',
        template: 'post',
            heading: 'Jaguar Expandable Advert',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 10,
                day: 29
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'jaguar-expandable-advert-laptop', extension: 'jpg', alt: 'A sequence that take a look at a single vehicle in the Jaguar lineup. Prompts on the car pull up information panels and there is an option to go through to Jaguars website and book a test drive'},
                    {src: 'jaguar-expandable-advert-desktop', extension: 'jpg', alt: 'The home screen for the expandable unit. Users can click on a particular Jaguar model to investigate its particular attributes more closely'}
                ]
            },
            technology: [
                'Flash',
                'Greensock',
                'Sizmek'
            ]
    },

    {
        href: 'the-warehouse-fashion-wheel',
        template: 'post',
            heading: 'The Warehouse fashion wheel',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 10,
                day: 6
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'the-warehouse-fashion-wheel-dormant', extension: 'jpg', alt: 'The initial layout of the fashion wheel. The outer segments all animate into view with staggered clockwise configuration. An animated instruction sequence plays in the centre promoting users in interact with the unit'},
                    {src: 'the-warehouse-fashion-wheel-over', extension: 'jpg', alt: 'When a user hovers over a segment it becomes the primary focus with an expanded version of the garment occupying the centre of the unit. A “more information” prompt is then displayed with prominence'},
                    {src: 'the-warehouse-fashion-wheel-active', extension: 'jpg', alt: 'The information overlay has a short garment description with a “view more” call to action which takes the user to The Warehouse site'}
                ]
            },
            technology: [
                'SNAP',
                'Handlebars',
                'SVG',
                'Greensock',
                'JSON / AJAX'
            ]
    },

    {
        href: 'stuff-media-hub',
        template: 'post',
            heading: 'Stuff.co.nz Media Hub',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 9,
                day: 25
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'The rate card section displaying tabular data in a responsive format'},
                    {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'The media hubs main menu with animated SVG icons'},
                    {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'Animated dynamic hero that randomises an on brand colour with a matching background image'}
                ]
            },
            technology: [
                'Bootstrap',
                'SASS',
                'SVG',
                'AJAX'
            ]
    },

    {
        href: 'silver-fern-farms',
        template: 'post',
            heading: 'Silver Fern Farms Premier Selection Awards',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 9,
                day: 23
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'silver-fern-farms-laptop', extension: 'jpg', alt: 'The regionalisation filter which narrowed down entrants dishes to New Zealand’s main regions'},
                    {src: 'silver-fern-farms-desktop', extension: 'jpg', alt: 'The modal overlay that gave further details about a specific entrant and their chosen dish'}
                ]
            },
            technology: [
                'Javascript',
                'JSON / AJAX',
                'Greensock',
                'Handlebars',
                'SASS'
            ]
    },

    {
        href: 'house-of-travel-hub',
        template: 'post',
            heading: 'House of Travel Stuff.co.nz hub',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 9,
                day: 12
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'house-of-travel-hub-laptop', extension: 'jpg', alt: 'The above the fold content of the House of Travel hub displayed on a Macbook'},
                    {src: 'house-of-travel-hub-desktop', extension: 'jpg', alt: 'A mixture of curated articles and static content displayed on an iMac'}
                ]
            },
            technology: [
                'Codekit',
                'Greensock',
                'JSONP / AJAX',
                'CRON job'
            ]
    },

    {
        href: 'bnz-homepage-takeover',
        template: 'post',
            heading: 'BNZ full page stuff.co.nz takeover',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 8,
                day: 28
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'bnz-closed-for-good-small', extension: 'jpg', alt: 'iOS stuff.co.nz app full page interstitial advert'},
                    {src: 'bnz-closed-for-good-social', extension: 'jpg', alt: 'The expanded header pulling in curated social content from BNZ’s tag Board feed'},
                    {src: 'bnz-closed-for-good-video', extension: 'jpg', alt: 'The expanded video overlay streaming from Sizmek’s servers'}
                ]
            },
            technology: [
                'Flash',
                'HTML5',
                'JSONP / AJAX',
                'CRON job',
                'PHP'
            ]
    },

    {
        href: 'stuff-dynamic-billboards',
        template: 'post',
            heading: 'Stuff.co.nz dynamic digital billboards',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 7,
                day: 14
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'stuff-dynamic-billboards-national', extension: 'jpg', alt: 'Digital billboard located on Auckland’s Queen street currently displaying a National new story'},
                    {src: 'stuff-dynamic-billboards-travel', extension: 'jpg', alt: 'Digital billboard located in Auckland on The Strand currently displaying a Travel new story'}
                ]
            },
            technology: [
                'Flash',
                'Greensock',
                'JSONP / AJAX',
                'CRON job',
                'PHP'
            ]
    },

    ];
