
-
    snippets = [
        
    {
        href: 'heart-rate-monitor',
        heading: 'Heart rate monitor',
            type: 'Experiment',
            date: generateDate({
                year: 2016,
                month: 1,
                day: 13
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'xxxxx'},
                    {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'yyyyy'},
                    {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'zzzzz'}
                ]
            },
            technology: [
                'Webpack',
                'ES6 (Transpired using Babel)',
                'Canvas',
                'HSL'
            ],
            more: [
                { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/full/bERMeZ/'},
                { heading: 'Git Hub', link: 'https://github.com/devonChurch/pork-dumpling'}
            ]
    },

    {
        href: 'xerocon-particle-animation',
        heading: 'Xerocon particle animation',
            type: 'Experiment',
            date: generateDate({
                year: 2015,
                month: 12,
                day: 11
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'xxxxx'},
                    {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'yyyyy'},
                    {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'zzzzz'}
                ]
            },
            technology: [
                'Webpack',
                'ES6 (Transpired using Babel)',
                'Canvas',
                'SASS'
            ],
            more: [
                { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/full/zrBBZa/'},
                { heading: 'Git Hub', link: 'https://github.com/devonChurch/blueberry-danish'}
            ]
    },

    {
        href: 'xero-year-in-review',
        heading: 'Xero year in review',
            type: 'Production',
            date: generateDate({
                year: 2015,
                month: 5,
                day: 20
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'xxxxx'},
                    {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'yyyyy'},
                    {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'zzzzz'}
                ]
            },
            technology: [
                'Javascript',
                'SASS',
                'Responsive Design',
                'Vimeo'
            ],
            more: [
                { heading: 'Preview', link: 'https://www.xero.com/year-in-review/'}
            ]
    },

    {
        href: 'real-estate-widget',
        heading: 'Real Estate widget',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 11,
                day: 14
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'real-estate-widget-large', extension: 'jpg', alt: 'xxxxx'},
                    {src: 'real-estate-widget-small', extension: 'jpg', alt: 'yyyyy'}
                ]
            },
            technology: [
                'Grunt',
                'PHP / CURL requests',
                'CRON job',
                'Javascript',
                'SASS',
                'SVG'
            ]
    },

    {
        href: 'stuff-media-hub',
        heading: 'Stuff.co.nz Media Hub',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 9,
                day: 25
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'Rate card section displaying tabular data in a responsive format'},
                    {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'Media Hub’s main menu with animated SVG icons'},
                    {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'Animated dynamic hero that randomises an on brand colour with a matching background image'}
                ]
            },
            technology: [
                'Bootstrap',
                'SASS',
                'SVG',
                'AJAX'
            ]
    },

    ];
