
-
    snippets = [
        
    {
        href: 'heart-rate-monitor',
        heading: 'Heart rate monitor',
        type: 'Experiment',
        date: generateDate({
            year: 2016,
            month: 1,
            day: 13
        }),
        images: {
            type: '3upSquares',
            data: [
                {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'xxxxx'},
                {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'yyyyy'},
                {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'zzzzz'}
            ]
        },
        technology: [
            'Webpack',
            'ES6 (Transpired using Babel)',
            'Canvas',
            'HSL'
        ],
        more: [
            { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/full/bERMeZ/'},
            { heading: 'Git Hub', link: 'https://github.com/devonChurch/pork-dumpling'}
        ]
    },

    {
        href: 'real-estate-widget',
        heading: 'Real Estate widget',
        type: 'Production',
        date: generateDate({
            year: 2014,
            month: 11,
            day: 14
        }),
        images: {
            type: '3upSquares',
            data: [
                {src: 'xxxxxx', extension: 'jpg', alt: 'xxxxx'},
                {src: 'xxxxxx', extension: 'jpg', alt: 'yyyyy'},
                {src: 'xxxxxx', extension: 'jpg', alt: 'zzzzz'}
            ]
        },
        technology: [
            'Grunt',
            'PHP / CURL requests',
            'CRON job',
            'Javascript',
            'SASS',
            'SVG'
        ]
    },

    {
        href: 'stuff-media-hub',
        heading: 'Stuff.co.nz Media Hub',
        type: 'Production',
        date: generateDate({
            year: 2014,
            month: 9,
            day: 25
        }),
        images: {
            type: '3upSquares',
            data: [
                {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'Rate card section displaying tabular data in a responsive format'},
                {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'Media Hub’s main menu with animated SVG icons'},
                {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'Animated dynamic hero that randomises an on brand colour with a matching background image'}
            ]
        },
        technology: [
            'Bootstrap',
            'SASS',
            'SVG',
            'AJAX'
        ]
    },

    ];
