footer.footer
    a.footer__home.footer__link.type--smallCap.button--nav.button--local(href='/') DevonChur.ch
    
    ul.footer__list
        for item in contact
            li.footer__item: a.footer__link.type--smallCap.button--nav(href='#{item.link}') #{item.heading}
