footer.footer
    a.footer__home.footer__link.type--smallCap.button--nav(href='/') DevonChur.ch
    
    ul.footer__list
        for item in contactItems
            li.footer__item: a.footer__link.type--smallCap.button--nav(href='#{item.link}', target='#{item.target}') #{item.heading}
