div.functionality
    button.functionality__scrollToTop.type--smallCap.button--func(role='button', aria-label='Scroll to top')
        svg.functionality__scrollToTop__icon: use(xlink:href='#scroll')
    if !post
        button.functionality__loadMore.type--smallCap.button--func(role='button') Load more
