div.functionality
    button.functionality__loadMore.type--smallCap.button--func(role='button') Load more
    button.functionality__scrollToTop.type--smallCap.button--func(role='button'): span.type--hidden Scroll to top
