div.functionality
    button.functionality__scrollToTop.type--smallCap.button--func(role='button', aria-label='Scroll to top') &nbsp;
    if !post
        button.functionality__loadMore.type--smallCap.button--func(role='button') Load more
