meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
title DevonChur.ch
meta(name='description' content='A portal for developer Devon Church to showcase his various production and experimental executions')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='apple-touch-icon' href='apple-touch-icon.png')
script: include ./no-js.js
link(rel='stylesheet', href="style.css")
