h1.post__heading #{post.heading}

div.post__details
    span.post__hashtag.type--smallCap #{post.type}
    time.post__date.type--smallCap(datetime='#{post.date.numFormat}') #{post.date.stringFormat}

hr.structure--divider
