-
    contact = [
        { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/', svg: 'codepen'},
        { heading: 'Git Hub', link: 'https://github.com/devonChurch', svg: 'github'},
        { heading: 'Linked In', link: 'https://nz.linkedin.com/in/devon-church-655630108', svg: 'linkedin'},
        { heading: 'Emal', link: 'mailto:notifydevon@gmail.com', svg: 'email'}
    ];
