-
    contact = [
        { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/', target: '_blank', svg: 'codepen'},
        { heading: 'Git Hub', link: 'https://github.com/devonChurch', target: '_blank', svg: 'github'},
        { heading: 'Linked In', link: 'https://nz.linkedin.com/in/devon-church-655630108', target: '_blank', svg: 'linkedin'},
        { heading: 'Emal', link: 'mailto:notifydevon@gmail.com', target: '_self', svg: 'email'}
    ];
