-
    contact = [
        { heading: 'CodePen', link: 'http://codepen.io/DevonChurch/', svg: 'codepen'},
        { heading: 'GitHub', link: 'https://github.com/devonChurch', svg: 'github'},
        { heading: 'LinkedIn', link: 'https://nz.linkedin.com/in/devon-church-655630108', svg: 'linkedin'},
        { heading: 'Email', link: 'mailto:notifydevon@gmail.com', svg: 'email'}
    ];
