div#more.more
    button#scrollToTop.more__scrollToTop.button--func.type--smallCap(role='button', aria-label='Scroll to top')
        svg.more__scrollToTop__icon: use(xlink:href='#scroll')
    div.more__functionality
        if post && post.more
            for item in post.more
                a.button--func.type--smallCap(href='#{item.link}', role='button') #{item.heading}
        //- if !post
        //-     button.more__loadMore.button--func.type--smallCap(role='button') Load more
