nav#nav.nav
    ul.nav__list
    
        if page.more
            li.nav__item: a.nav__link.type--smallCap.button--nav(href='#more') More
        
        if page.technology
            li.nav__item: a.nav__link.type--smallCap.button--nav(href='#technology') Technology
                
        if page.nav
            for item in page.nav
                li.nav__item: a.nav__link.type--smallCap.button--nav(href='#{item.link}') #{item.heading}
