include ./top.jade
    include ./structure.jade
        include ./intro.jade
        include ./images.jade
        
        block content

        include ./technology.jade
        include ./more.jade
        include ./footer.jade
    include ./bottom.jade
