-
    const snippets = [
        
    {
        href: one,
        heading: 'Post one',
        type: 'Article',
        date: generateDate({
            year: 2016,
            month: 12,
            day: 14
        })
    },

    {
        href: two,
        heading: 'Post two',
        type: 'Article',
        date: generateDate({
            year: 2016,
            month: 12,
            day: 14
        })
    },

    {
        href: three,
        heading: 'Post three',
        type: 'Article',
        date: generateDate({
            year: 2016,
            month: 12,
            day: 14
        })
    },

    ];
