if post && post.technology
    section#technology
        h2.tech__heading Technology:

        ul.tech__list
            for item in post.technology
                li.tech__item.type--smallCap #{item}
