- page = post ? 'post' : 'home'

doctype html

html.no-js(lang="en")

    head
        include ./head.jade

    body.structure--transition(data-page='#{page}')
        
        include ./tag-manager.jade
        include ../svg/icons.svg
    
        div.structure.structure--background
            div.structure.structure--column

                include ./links.jade
                include ./header.jade
                include ./nav.jade
                include ./generate-date.jade
