doctype html

html(lang="en")

    head

        link(rel='stylesheet', href="style.css")

    body
    
        div.structure.structure--background
            div.structure.structure--column

                include ./header.jade
                include ./generate-date.jade

// - Article starts
