extends ../partials/post.jade

block pageData
    -
        page = {
            template: 'post',
            heading: 'Heart rate monitor',
            type: 'Experiment',
            date: generateDate({
                year: 2016,
                month: 1,
                day: 13
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'heart-rate-monitor-left', extension: 'jpg', alt: 'Left hand facing watch with a randomised heart rate that directly effects the aesthetic of the graph'},
                    {src: 'heart-rate-monitor-right', extension: 'jpg', alt: 'Right racing watch displaying a green aesthetic during its looping sequence through the 360 degree hue spectrum'}
                ]
            },
            technology: [
                'Webpack',
                'ES6 (Transpired using Babel)',
                'Canvas',
                'HSL'
            ],
            more: [
                { heading: 'Code Pen', link: 'http://codepen.io/DevonChurch/full/bERMeZ/', local: false},
                { heading: 'Git Hub', link: 'https://github.com/devonChurch/pork-dumpling', local: false}
            ]
        } //- page ]

block content
    :markdown
        This experiment was another investigation into performant canvas animation. The execution was comprised of various aesthetic elements all hooking into a single requestAnimationFrame call. In that regard I adopted an ES6 class based setup to modularise components in a concise manner.

        Colour transitions were achieved using the HSL syntax. This made looping through color hues and controlling the tint variations of each element using the Luminosity parameter a trivial task.

        I created a mock heart beat in order to get a BPM value registered on screen. The graph animation also hooks into this mock heart beat to get a unique frequency and severity for each “beat”. The easing animation on each beat is generated using a depreciating sine curve function.
