extends ../partials/post.jade

block pageData
    -
        page = {
            template: 'post',
            heading: 'Silver Fern Farms Premier Selection Awards',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 9,
                day: 23
            }),
            images: {
                type: '2upEqual',
                data: [
                    {src: 'silver-fern-farms-laptop', extension: 'jpg', alt: 'The regionalisation filter which narrowed down entrants dishes to New Zealand’s main regions'},
                    {src: 'silver-fern-farms-desktop', extension: 'jpg', alt: 'The modal overlay that gave further details about a specific entrant and their chosen dish'}
                ]
            },
            technology: [
                'Javascript',
                'JSON / AJAX',
                'Greensock',
                'Handlebars',
                'SASS'
            ]
        } //- page ]

block content
    :markdown
        The [Silver Fern Farms](http://www.silverfernfarms.com/) Premier Selection Awards campaign was an execution that spanned multiple months. Each portion of the selection process extended the design and functionality of the awards page. The live rendition was located within stuff.co.nz’s [Food and Wine](http://www.stuff.co.nz/life-style/food-wine) section in addition to being promoted site wide via a series of animated digital adverts.

        The design was based around the Silver Fern Farms promotional aesthetic and I liaised closely with agency [Colenso BBDO](http://www.colensobbdo.co.nz/) to ensure all assets were consistent. Participant information was AJAX’ed in from Silver Fern Farms which made alterations to the copy trivial.

        Animation was used to create intrigue around the entrants and their dishes. I built an intro animation that reflected the promotions tag line and added various subtle transitions around the entrant thumbnails and their relationship with the information modal.
