extends ../partials/post.jade

block pageData
    -
        page = {
            template: 'post',
            heading: 'Stuff.co.nz Media Hub',
            type: 'Production',
            date: generateDate({
                year: 2014,
                month: 9,
                day: 25
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'stuff-media-hub-small', extension: 'jpg', alt: 'The rate card section displaying tabular data in a responsive format'},
                    {src: 'stuff-media-hub-medium', extension: 'jpg', alt: 'The media hubs main menu with animated SVG icons'},
                    {src: 'stuff-media-hub-large', extension: 'jpg', alt: 'Animated dynamic hero that randomises an on brand colour with a matching background image'}
                ]
            },
            technology: [
                'Bootstrap',
                'SASS',
                'SVG',
                'AJAX'
            ]
        } //- page ]

block content
    :markdown
        The brief around [stuff.co.nz](http://www.stuff.co.nz/) media hub was to create something both informative, inspirational and that would communicate with the countries biggest brands and agencies effectively. I implemented a responsive environment based heavily on flat design, SVG and performant animation.

        Utilising animation throughout the Media Hub was a great way to introduce the required "wow" factor. Each icon on site had an animation sequence to play through when scrolled into view, along with elaborate hover and opening transitions that all leveraged a set of consistent and performant animation patterns utilising only CSS3 properties that could be GPU accelerated.

        Another novel way to capture the audience attention was the implementation of the dynamic hero unit. Based on Stuff’s five key branding colours I randomly served up an image based on these colours accompanied by a detailed animation on load and parallax effect on scroll.

        The ability to display large amounts of tabular data was paramount to the Media Hub’s success. I built a node script that took tabular data from the companies legacy Microsoft Excel files and converted them into JSON then AJAX’d into the rate card on request. Displaying this data in a responsive format was necessary as the sales team often utilised this section of the portal offsite.
