<h1>Post Three</h1>

p.
    Lorem ipsum dolor sit amet.

<h3 class="post-hashtag">#Article</h3>

p.
    Lorem ipsum dolor sit amet.

<time class="post-creation" datetime="2001-05-15T19:00">March 1</time>

p.
    Lorem ipsum dolor sit amet.
