-
    post = {
        heading: 'Post two',
        type: 'Article',
        date: generateDate({
            year: 2016,
            month: 12,
            day: 14
        })
    } //- post ]

include ../partials/top.jade
    include ../partials/intro.jade

    p
        Lorem ipsum dolor sit amet.

    p
        Lorem ipsum dolor sit amet.

    p
        Lorem ipsum dolor sit amet.
        
    include ../partials/bottom.jade
