extends ../partials/post.jade

block postData
    -
        post = {
            heading: 'Xero year in review',
            type: 'Production',
            date: generateDate({
                year: 2015,
                month: 5,
                day: 20
            }),
            images: {
                type: '3upEqual',
                data: [
                    {src: 'xero-year-in-review-small', extension: 'jpg', alt: 'Mobile rendition of the tabular data turned into a single column view rather than the multicolumn setup present in the desktop'},
                    {src: 'xero-year-in-review-medium', extension: 'jpg', alt: 'An example of section that have animated numeric incrementors activated on scroll. As the number increate so does the opacity of the black overlay which brings focus onto the content'},
                    {src: 'xero-year-in-review-large', extension: 'jpg', alt: 'Desktop view of the full width fluid layout'}
                ]
            },
            technology: [
                'Javascript',
                'SASS',
                'Responsive Design',
                'Vimeo'
            ],
            more: [
                { heading: 'Preview', link: 'https://www.xero.com/year-in-review/'}
            ]
        } //- post ]

block content
    :markdown
        The Xero Year in Review project was a bespoke execution generated outside of the constraints of Xero’s main CMS framework. This freedom allowed me to work closely with our design team to create something with a high level of fidelity.

        The custom side navigation unit was an interesting request from the designers. Each “dot“ represented a selectable section on the page - with the current section in view being differentiated visually. The fun part was as the individual navigation dots passed through the various page sections their colour would change on the fly to distinguish themselves apart from the underlying background colour.

        There was allot of animation triggered on scroll events. I pushed as much as possible to the GPU via CSS transitions so ensure a smooth FPS rate. For more complex scenarios like the animated incrementing numbers I created custom Javascript functionality that easily hooked into the main scroll event also controlling the navigation and CSS animations.

        Responsive design was a main priority so we created a custom grid to accommodate the unique layout in all device formats. I went the extra mile with responsive table layouts so that the important financial data was still easily accessible on small devices.
