header
    p.
        Lorem ipsum dolor sit amet.


hr

h1 Welcome

p
    Lorem ipsum dolor sit amet.

p
    Lorem ipsum dolor sit amet.

p
    Lorem ipsum dolor sit amet.

ul
    li One
    li Two
    li Three
    li Four
    li Five


h2 Posts:

section.posts
    //- [ Posts
    article
        a(href='one.html')
            h2 Post One
        h3 #Article
        time.post-creation(datetime='2001-05-15T19:00') January 1

    article
        a(href='two.html')
            h2 Post Two
        h3 #Article
        time.post-creation(datetime='2001-05-15T19:00') January 1

    article
        a(href='three.html')
            h2 Post Three
        h3 #Article
        time.post-creation(datetime='2001-05-15T19:00') January 1
//- Posts ]

hr

footer
    p Lorem ipsum dolor sit amet.
