include partials/snippets.jade
include partials/top.jade
    include partials/nav.jade

    h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    include partials/contact.jade


    h2 Posts:

    section.snippets
        
        for snippet in snippets
            article.snippet
                h2.snippet__heading #{snippet.heading}
                h3.snippet__hashtag #{snippet.type}
                time.snippet__date(datetime='#{snippet.date.numFormat}') #{snippet.date.stringFormat}

    hr



    include partials/bottom.jade
