include ./snippets.jade
include partials/top.jade

header
    p.
        Lorem ipsum dolor sit amet.


hr

h1 Welcome

p
    Lorem ipsum dolor sit amet.

p
    Lorem ipsum dolor sit amet.

p
    Lorem ipsum dolor sit amet.

ul
    li One
    li Two
    li Three
    li Four
    li Five


h2 Posts:

section.snippets
    
    for snippet in snippets
        article.snippet
            h2.snippet__heading #{snippet.heading}
            h3.snippet__hashtag #{snippet.type}
            time.snippet__date(datetime='#{snippet.date.numFormat}') #{snippet.date.stringFormat}
        
        

//- article
//-     a(href='one.html')
//-         h2 Post One
//-     h3 #Article
//-     time.post-creation(datetime='2001-05-15T19:00') January 1

hr

footer
    p Lorem ipsum dolor sit amet.
